{% extends "blog/base.html" %} 

{% block title %}Home{% endblock %} 

{% block header %} 
{% if user.is_authenticated %} 
<p>Hi {{user.username }}!</p>
{% endif %}
{% endblock %}


{% block navigation %}
{% if user.is_authenticated %}
<a href="{% url 'create_blog' %}">Create Blog</a>
<a href="{% url 'password_change' %}">Password Change</a>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
{% endif %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %} 
<div class="container">
    <div class="row">
        <div class="col-6" id="blogList">
            {% if blogs %}
            {% for blog in blogs %}
            <p class="blog-title" data-blog-id="{{ blog.id }}">{{ blog.title }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-6" id="blogContent">
            <p id="contentPlaceholder">Select a blog to view its content</p>
        </div>
    </div>
</div>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>
{% endif %} 

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var blogTitles = document.querySelectorAll(".blog-title");
        var contentPlaceholder = document.getElementById("contentPlaceholder");

        blogTitles.forEach(function(title) {
            title.addEventListener("click", function() {
                var blogId = this.getAttribute("data-blog-id");
                fetch(`/blog/${blogId}/content/`)
                    .then(response => response.text())
                    .then(data => {
                        contentPlaceholder.innerHTML = data;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    });
</script>
{% endblock %}
