* {
    box-sizing: border-box;
  }

body {
    font-family: "Amazon Ember", Arial, sans-serif;
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    background-color: #232f3e;
    padding: 34px 0px;
}

img {
    background-color: #232f3e;
    margin-right: 10px;
    border-radius: 20%;
  }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
ul.topnav li a:hover {background-color: #111;}

ul.topnav li.right {float: right;}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.create-blog {
  width: 80%;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-15 {
  float: left;
  width: 15%;
}

.col-85 {
  float: left;
  width: 85%;
}

textarea {
  height: 400px;
}


.row::after {
  content: "";
  display: table;
  clear: both;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: 90%;
}

ul.blog-list {
  list-style-type: none;
  margin: 0;
  padding: 30px;
}

ul.blog-list li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  border-bottom: 1px solid black;
}

ul.blog-list li a:hover {background-color: #ccc;}



@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}

    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }
  }
