* {
    box-sizing: border-box;
  }

body {
    font-family: "Amazon Ember", Arial, sans-serif;
    margin: 15px;
    height: 100%;
}     

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

textarea {
    height: 400px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 90%;
  }
