<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if blog %}
        <p>{{blog.title}}</p>
        <p>{{blog.content}}</p>
        
        
            <span class="b1">
                <form action="{% url "edit" blog.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="edit" value="Edit" class="b1" />
                </form>
            </span>
            <span class="b1">
                <form action="{% url "delete" blog.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="delete" value="Delete" class="b1" />
                </form> 
            </span>
        
        {% endif %}
        <script src="" async defer></script>
    </body>
</html>