{% extends "blog/base.html" %}

{% block title %}Create Blog{% endblock %}

{% block header %} 
<p>{{user.username }}!</p>
{% endblock %}
      
{% block navigation %}
<a href="{% url 'home' %}">Blogs</a>
<a href="{% url 'password_change' %}">Password Change</a>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
{% endblock %}

{% block content %}
<h3>Create Blog</h3>
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        {{field.label_tag}}
        {{field}} <br><br>
    {% endfor %}
    <button type="submit">Save</button>
</form>
{% endblock %}