
{% extends "blog/base.html" %} 
{% load static %}
{% block title %}Home{% endblock %} 

 


{% block header %} 
{% if user.is_authenticated %} 
<p class="title">Hi {{user.username }}!</p>
{% endif %}
{% endblock %}


{% block navigation %}
{% if user.is_authenticated %}
<li><a href="{% url 'create_blog' %}">Create Blog</a></li>
    <li><a href="{% url 'password_change' %}">Password Change</a></li>
        <li class="right"><form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="button">Log Out</button>
</form></li>
{% endif %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %} 
<div class="container">
    <div class="row">
        <div class="col-15" id="blogList">
            <ul class="blog-list">
            {% with blogs=user.blog_set.all %}   
            {% if blogs %}
            {% for blog in blogs %}
            <li><a href="{% url 'blog' blog.id %}" target="blog_fram">{{blog.title}}</a></li>
            {% endfor %}
            {% endif %}
            {% endwith %}
            </ul>
        </div>
        <div class="col-85" id="blogContent">
            <iframe src="{% url 'iframe' %}" name="blog_fram" title="blog fram" height="650px" width="100%"></iframe>
            
        </div>
    </div>
</div>
{% else %}

<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>
{% endif %} 
{% comment %} <script src="{% static 'blog/js/home.js' %}" async defer></script> {% endcomment %}
{% endblock %}
